
/* General */
html, body {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	color: black;
	font-family: Oswald;
	font-size: 16px;
}

a {
	color: #202020;
	text-decoration: none;
}


/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	right: 5vw;
	bottom: 92vh;
	left: 5vw;
	background-color: rgba(255,255,255,0.8);
}

.contact a {
	transition: 0.3s;
}

.contact a:hover {
	margin-left: 1vw;
}

.media a {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: 20px;
	vertical-align: middle;
	transition: .2s;
}

.media a:hover {
	opacity: .5;
}

#github {
	background-image: url(/icon/github.svg);
}

#instagram {
	background-image: url(/icon/instagram.svg);
}

#linkedin {
	background-image: url(/icon/linkedin.svg);
}

/* Top and bottom frame */
.frame-top, .frame-bottom {
	position: fixed;
	right: 5vw;
	left: 5vw;	
	border: 3px solid #202020;
	pointer-events: none;
}

.frame-top {
	top: 8vh;
	bottom: 50vh;
	border-bottom: none; 
}

.frame-bottom {
	top: 50vh;
	bottom: 8vh;
	border-top: none;
}

/* Skill , Project, Expectation */
.title {
	padding: 5vh 10vw;
	font-size: 2.5rem;
	font-weight: bold;
}

.field {
	padding: 1vh 15vw;
	font-size: 1.5rem;
}

/* Skill */
.skill {
	height: 84vh;
	padding: 8vh 5vw;
}


/* Project */
.project {
	padding: 0 5vw;
}

.parallax {
	position: relative;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 1px;
	perspective: 1px;
}

.parallax_layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.parallax_layer_base {
	-webkit-transform: translateZ(0);
	transform: translate(0);
}

.parallax_layer_back {
	-webkit-transform: translateZ(-1px);
	transform: translateZ(-1px);
}

/* Layer */
.parallax_layer {
	padding: 100vh 0;
}


/* Expectation */
.expectation {
	padding: 0 5vw;
}