body, html {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}

/* ---- Header ---- */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.header-title {
  margin: 0;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
  transition: all .6s;
}

.social-media {
  display: flex;
  flex-direction: row;
  transition: all .6s;
}

.social-media a {
  padding: 5px 8px 0 0;
  transition: all .6s;
}

.social-media svg {
  fill: #fff;
  width: 25px;
  transition: all .6s;
}

.social-media svg:hover {
  animation: jump .3s;
}

#email {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#email svg {
  width: 0;
  margin-top: -4px;
}

#email span {
  position: relative;
  color: #fff;
  margin: -4px 0 0 2px;
  font-size: 0.9rem;
  transition: all .2s;
  transform: scaleX(1)
}

#email span:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width .2s ease-out;
}

#email:hover span:after {
  width: 100%;
}

/* reverse */
.reverse .header-title {
  font-size: 1rem;
  color: #000;
}

.reverse .social-media a {
  padding: 0 5px 0 0;
}

.reverse .social-media svg {
  fill: #000;
  width: 20px;
}

.reverse #email svg {
  width: 20px;
}

.reverse #email span {
  width: 0;
  transform: scale(0)
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0)  
  }
  50% {
    transform: translateY(-15%)
  }
}

/* --- Introduction --- */
.intro-content {
  padding-bottom: 30px;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

/* --- Projects --- */
.pj-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  background-color: #fff;
}

.project-pic {
  max-height: 70vh;
  max-width: 80vw;
  border: 2px solid #f5f5f5;
  transition: transform .3s ease-out .3s, opacity .3s ease .2s, max-height .3s, max-width .3s;
  transform: translate(5%, 5%);
  opacity: .3;
}

.project-pic[src] {
  transform: translate(0, 0);
  opacity: 1;
}

/* --- Final --- */
.final-content {
  padding-bottom: 40px;
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
}

.slogan {
  display: inline-block;
  padding: 0 40px;
}

#scramble-word {
  position: relative;
  display: inline-block;
  min-width: 10rem;
}

#scramble-word:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -8%;
  left: 0;
  border-bottom: 2px solid;
}

.dud0 {
  color: deepskyblue;
}

.dud1 {
  color: orange;
}

.dud2 {
  color: olivedrab;
}

.dud3 {
  color: crimson;
}

.dud4 {
  color: yellow;
}