
/* Parallax 
----------------- */

.parallax {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 1px;
	perspective: 1px;
}

.parallax_group {
	position: relative;
	height: 110vh;
	-webkit-transform-style: preserve-3d;
}

.parallax_layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.parallax_layer_base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.parallax_layer_back {
	-webkit-transform: translateZ(-1px) scale(2);
	transform-style: translateZ(-1px) scale(2);
}


/* General 
------------*/

html, body {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	color: black;
	overflow: hidden;
	font-family: Oswald;
	font-size: 16px;
}

a {
	color: #202020;
	text-decoration: none;
}

/* Header 
---------- */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	right: 5vw;
	bottom: 92vh;
	left: 5vw;
	background-color: rgba(255,255,255,.8);
	z-index: 10;
}

.contact a {
	vertical-align: middle;
	transition: 0.3s;
}

.contact a.icon {
	display: inline-block;
	height: 20px;
	width: 0px;
	background-size: 20px;
	background-image: url(/icon/email.svg);
	font-size: 0;
}

.contact:hover a.icon {
	width: 20px;
	background-size: 20px;
}

.media a {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-size: 20px;
	vertical-align: middle;
	font-size: 0;
	transition: .2s;
}

.media a:hover {
	opacity: .5;
}

#github {
	background-image: url(/icon/github.svg);
}

#instagram {
	background-image: url(/icon/instagram.svg);
}

#linkedin {
	background-image: url(/icon/linkedin.svg);
}

/* Top and bottom frame
----------------------- */

.frame-top, .frame-bottom {
	position: fixed;
	right: 5vw;
	left: 5vw;	
	border: 3px solid #202020;
	pointer-events: none;
}

.frame-top {
	top: 8vh;
	bottom: 50vh;
	border-bottom: none; 
}

.frame-bottom {
	top: 50vh;
	bottom: 8vh;
	border-top: none;
	z-index: -1;
}

/* Commons in skill, project, and expectation
---------------------------------------------- */

.title {
	padding: 5vh 10vw;
	font-size: 2.5rem;
	font-weight: bold;
}

/* Skill 
------------ */
.skill {
	height: 84vh;
	padding: 8vh 5vw;
}

.field {
	padding: 0 10vw;
	font-size: 1.5rem;
}

/* Project
-------------- */

.project {
	padding: 0 5vw;
}

.project img {
	box-shadow: 1px 1px 8px #888;
}

.des {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.pic {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	transition: .3s;
}

.pic_base {
	transform: translate(-48.5%,-51.5%);
	cursor: pointer;
	z-index: -1;
}

.pic_base:hover {
	transform: translate(-45%,-55%);
}

 /* Project 1 */
#pj1 .des {
	position: absolute;
	left: 20vw;
	top: 50vh;
}

#pj1 .pic {
	position: absolute;
	left: 60vw;
	top: 50vh;
}


#pj1 img {
	width: 40vw;
}

/* Project 2 */
#pj2 .des {
	position: absolute;
	left: 70vw;
	top: 50vh;
}

#pj2 .pic {
	position: absolute;
	left: 30vw;
	top: 50vh;
}

#pj2 img {
	width: 50vw;
	border-radius: 3.8%;
}

/* Project 3 */
#pj3 .des {
	position: absolute;
	left: 20vw;
	top: 50vh;
}

#pj3 .pic {
	position: absolute;
	left: 60vw;
	top: 50vh;
}

#pj3 img {
	width: 35vw;
}

/* Project 4 */
#pj4 .des {
	position: absolute;
	left: 70vw;
	top: 50vh;
}

#pj4 .pic {
	position: absolute;
	left: 30vw;
	top: 50vh;
}

#pj4 img {
	width: 40vw;
}

/* Expectation
------------------ */

.expectation {
	height: 84vh;
	padding: 8vh 5vw;
}

/* Customer Scroll Bar
----------------------------  */

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: white;
}

::-webkit-scrollbar-thumb {
	/*border-radius: 3px;*/
	border-right: 2px solid white;
	background-color: #202020;
}

/* Self-adaption
------------------ */

@media screen and (max-width: ) {

}