@import '~styles/index.scss';

$pink: #d856bf;
$blue: #0e5ea5;

.body {
  padding: 2rem;
}

.title {
  margin: 0;
}

.intro {
  overflow: auto;
  width: 600px;
  max-width: 100%;
  margin: 1.5rem 0;
  font-size: 20px;
}

.links {
  margin: 0;
  padding: 0;

  display: inline-grid;
  justify-content: start;
  grid-auto-flow: column;
  gap: 2rem;

  &-item {
    list-style: none;

    & a {
      display: inline-block;
      padding: 5px;
      cursor: pointer;
    }

    &:hover .icon {
      animation: jump 0.3s;
    }
  }
}

.works {
  margin: 0;
  padding: 0;
  margin: 3rem 0;

  display: grid;
  justify-content: start;
  gap: 1.5rem;

  &-item {
    list-style: none;
  }

  &-link {
    position: relative;
    color: $font-color;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 2px;
      background-image: linear-gradient(to left, #d856bf, #0e5ea5);
      transform: translateZ(0);
      transition: 0.2s;
      z-index: -1;
    }

    &:hover::before {
      height: 13px;
    }
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15%);
  }
}
